@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('roboto300.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('robotoslab.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('roboto500.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('robotoslab.woff2') format('woff2');
}

:root {
    --color: #113654;
    --aux-color: #8e8e93;
    --bg-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: var(--color);
    background-color: var(--bg-color);
    user-select: none;
    margin: 0;
}

#words {
    font-family: 'Roboto Slab', serif;
    width: 750px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

#words::after {
    content: "";
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

#current {
    font-weight: 400;
}

input {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--color);
    background-color: var(--bg-color);
    border-color: var(--color);
    border-style: none none dotted none;
    padding-left: 0;
    font-size: 30px;
    width: 600px;
}

input:focus {
    border-style: none none solid none;
    outline: none;
}

input::placeholder {
    color: var(--aux-color);
}

input:focus::placeholder {
    color: var(--bg-color);
}

#container {
    width: 750px;
    margin: 150px auto 0;
}

#stats {
    display: flex;
    justify-content: space-around;
    visibility: hidden;
    margin-top: 20px;
    text-align: center;
}

h4 {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: relative;
    height: 45px;
    width: 150px;
    margin: 5px 5px 0 0;
    padding: 5px 5px;
    font-size: 17px;
    letter-spacing: 2px;
    color: var(--color);
    border: 2px var(--color) solid;
    background-color: var(--bg-color);
    text-transform: uppercase;
    outline: 0;
    z-index: 1;
    cursor: pointer;
    transition: color 0.2s linear, transform 0.2s linear;
}

button:hover {
    color: var(--bg-color);
}

button::before {
    content: "";
    position: absolute;
    background-color: var(--color);
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.2s linear;
}

button:hover::before {
    transform: scaleX(1);
}

button:active {
    transform: scale(0.9);
}

.bad {
    color: #ff3b30;
}

.suspended {
    color: #ffcc00;
}

#hud {
    float: right;
    width: 120px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#reset {
    cursor: pointer;
    transition: transform 0.2s;
}

#reset:hover {
    transform: rotate(-180deg);
}

#reset:active {
    transform: rotate(-180deg) scale(0.9);
}

#arrow {
    fill: var(--color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: #c0dcf4;
        --aux-color: #69696f;
        --bg-color: #181818;
    }

    #words::after {
        background: linear-gradient(to right, rgba(24, 24, 24, 0), rgba(24, 24, 24, 1));
    }
}