@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('roboto300.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('roboto500.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('robotoslab.woff2') format('woff2');
}

:root {
    --prime: #113654;
    --bg: #ffffff;
    --shade: #cfd7dd;
    --red: #ff3b30;
    --yellow: #ffcc00;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: var(--prime);
    background-color: var(--bg);
    user-select: none;
    -webkit-user-select: none;
    margin: 0;
}

#words {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    width: 750px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

#words::after {
    content: "";
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

input {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: var(--prime);
    background-color: var(--bg);
    border-width: 2px;
    border-style: none none dotted;
    border-color: var(--prime);
    padding-left: 0;
    font-size: 30px;
    width: 600px;
    outline: 0;
}

input:focus {
    border-style: none none solid;
}

input::placeholder {
    color: #8e8e93;
}

input:focus::placeholder {
    opacity: 0;
}

section {
    width: 750px;
    margin: 150px auto 0;
}

h4 {
    margin: 20px 0 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 45px;
    width: 150px;
    padding: 5px;
    font-size: 17px;
    letter-spacing: 2px;
    color: var(--prime);
    background-color: var(--shade);
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
    transition: color 200ms ease, background-color 200ms ease;
}

button:hover {
    color: var(--bg);
    background-color: var(--prime);
}

.bad {
    color: var(--red);
}

.suspended {
    color: var(--yellow);
}

#hud {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#reset {
    cursor: pointer;
    z-index: 2;
    transition: transform 200ms ease;
}

#reset:hover {
    transform: rotate(-180deg) scale(1.05);
}

#reset:active {
    transform: rotate(-180deg) scale(0.95);
    transition: transform 32ms ease;
}

#arrow {
    fill: var(--prime);
}

#languages {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 5px;
}

#stats {
    display: flex;
    justify-content: space-between;
    text-align: center;
    animation: toning 300ms ease;
}

@keyframes toning {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#backdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 18;
    animation: dale 300ms ease forwards;
}

@keyframes dale {
    from {
        opacity: 0;
        transform: scale3d(1.1, 1.1, 1);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

#dialog {
    position: absolute;
    top: 150px;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 750px;
    background-color: var(--bg);
    padding: 20px;
    border-radius: 6px;
    z-index: 100;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 16%);
}

#dialog > button {
    float: right;
    margin-left: 5px;
}

textarea {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 300px;
    font-size: 18px;
    box-sizing: border-box;
    resize: vertical;
    outline: 0;
    border: 2px var(--shade) solid;
    border-radius: 4px;
    color: var(--color);
    background-color: var(--bg);
    display: block;
    margin-bottom: 8px;
}

textarea::placeholder {
    color: #8e8e93;
}

textarea:focus {
    border: 2px var(--prime) solid;
}

#warn {
    color: var(--red);
    float: left;
    font-size: 18px;
    font-weight: 500;
}

@keyframes taylor-swift {
    8%, 41% {
        transform: translateX(-10px);
    }

    25%, 58% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-5px);
    }

    92% {
        transform: translateX(5px);
    }

    0%, 100% {
        transform: translateX(0);
    }
}

.hidden {
    display: none !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        --prime: #c0dcf4;
        --bg: #181818;
        --shade: #20293c;
        --red: #ff453a;
        --yellow: #ffd60a;
    }

    #words::after {
        background: linear-gradient(to right, rgba(24, 24, 24, 0), rgba(24, 24, 24, 1));
    }
}